body
{
	background-image: url("./bzz.png");
	color: #ffffff;
	/* overflow-y: hidden;
	overflow-x: hidden; */
	margin: 0px;
	padding: 0px;
}
.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;	
	background-color:rgba(127,127,127,0.4);
	border-left: 5px solid #000000;
	border-right: 5px solid #000000;
}
.banner
{
	padding-left: 236px;
	padding-right: 236px;
	opacity: 0.8;
	width: 728px;
	background-color: #545454;
}

.cale
{
	height: calc(100vh - 134px);
	font-family: sans-serif;
	padding: 20px;
	font-size: 30px;
	color:white;
}

.pole
{
	resize: none;
	display:block;
	width:475px;
	height:40px;
	z-index: 2;
	padding:20px;
	border:10px solid #000000;
	background-color: rgba(0,0,0,0.4);
	font-size:32px;
	text-align:center;
	color:#ffffff;
	margin-left:auto;
	cursor:pointer;
	margin-right:auto;
	outline:none;
	float: left;
}
.pole:hover,.pole:focus
{
	border-color:#404040;
}
.pole2
{
	margin-left:auto;

	
	margin-right:auto;
	float:left;
	padding:20px;
}
.send
{
	padding:15px;
	background-color: rgba(0,0,0,0.4);
	text-align:center;
	width:535px;
	margin-left:auto;
	margin-right:auto;
	color:#ffffff;
	outline:none;
	height:100px;
	font-size:32px;
	cursor:pointer;
	border: 10px solid #000000;
	appearance:none;
}
.send:hover,.send:focus
{
	border-color:#404040;
}

#kliknij
{
	padding:15px;
	background-color: rgba(127,127,127,0.1);
	text-align:center;
	width:535px;
	margin-left:35%;
	margin-top:350px;
	color:#ffffff;
	outline:none;
	height:80px;
	font-size:30px;
	cursor:pointer;
	border: 10px solid #000000;
	appearance:none;
}

#rec4
{
	opacity: 0;
	animation: recx 0.25s ease 0.25s forwards;
}

#rec1
{
	opacity: 0;
	animation: recv1 0.25s ease 0.40s forwards;
}

#rec2
{
	opacity: 0;
	animation: recv2 0.25s ease 0.25s forwards;
}

#bg1,#bg2
{
	animation: faded 1s ease forwards;
}
#rec3
{
	opacity: 0;
	animation: recx 0.25s ease 0.5s forwards;
}

@keyframes faded {
	from
		{
			opacity: 1;
			fill: rgba(0,0,0,0);
		}	
	to
		{
			opacity: 1;
			fill: rgba(0,0,0,1);
		}
}

@keyframes recv1 {
	from
		{
			opacity: 1;
			height: 20px;
		}	
	to
		{
			height: 50px;
			opacity: 1;
		}
}

@keyframes recv2 {
	from
		{
			opacity: 1;
			height: 20px;
		}	
	to
		{
			opacity: 1;
			height: 90px;
		}
}

@keyframes recx {
	from
		{
			opacity: 1;
			height: 20px;
		}	
	to
		{
			opacity: 1;
			height: 100px;
		}
}

#cmd,#cmd2
{
	float: left;
	border: 10px solid #000000;
	margin: 20px;
	color:#ffffff;
	font-size:40px;
	background-color: rgba(32,32,32,0.4);
	height: 100px;
	padding: 15px;
	text-align:center;
	width: 485px;
}

#cmd2
{
	width:100px;
}